html{
    width: 100%;
    height: 100%;
}
body{
    width:100%;
    height: 100%;
    overflow: hidden;
    color: #3366CC;
    user-select: none;
    background: url("../back.png");
    margin:0;
}
h1{
    display: inline;
    background: #333333;
    line-height: 2em;
    padding: 10px 20px 10px 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 1px 10px #333;
    animation: h1 1s;
    margin: 0 10px;
}
@keyframes h1 {
    0%{padding: 10px 20px 10px 20px;}
    50%{padding: 10px 50px 10px 50px;}
    100%{padding: 10px 20px 10px 20px;}
}
.board{
    width:1000px;
    margin: 10px 100px;
}
.canvas{
    width:1000px;
    height:650px;
    background: #eee;
    float: left;
    box-shadow: 2px 2px 10px #ddd;
}
.edit{
    height:650px;
    width: 340px;
    display: inline-block;
    position: absolute;
    user-select: none;
    padding: 0;
    margin: 0 10px;
    border: 2px #eeeeee solid;
    list-style: none;
    box-shadow: 0 0 10px #ddd;
}
.edit li{
    padding: 5px;
}
.chat{
    width: inherit;
    position: absolute;
    bottom: 0;
}
.chatInfo{
    width: 320px;
    height: 280px;
    background: #f8f8f8;
    line-height: 1.8em;
    text-blink: 1em;
    padding: 10px;
}
.chatEdit{
    width: inherit;
    padding: 0;
}
.chatEdit input:first-child{
    width: 168px;
    height:38px;
    color: #3366CC;
    font-family: Lato,\"PingFang SC\",\"Microsoft YaHei\",sans-serif;
    border-radius: 2px;
    text-indent: 0.3em;
    border: solid 1px #3366CC;
}
.chatEdit input:not(:first-child){
    width: 80px;
    height:40px;
    background: #333;
    border: none;
    font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif;
    transition: all 0.2s;
    border-radius: 2px;
    cursor: pointer;
    color: #3366CC;
    box-shadow: 0 0 2px #333;
}
.chatEdit input:not(:first-child):hover{
    box-shadow: 0 0 10px #333;
}
#userID{
    background: #333333;
    border-radius: 2px;
    box-shadow: 0 0 5px #333;
    margin: 5px 10px;
    padding: 4px;
}